// Grays
$gray7: #111111 !default;
$gray6: #333333 !default;
$gray5: #555555 !default;
$gray4: #777777 !default;
$gray3: #999999 !default;
$gray2: #dddddd !default;
$gray1: #f7f7f7 !default;

// colors
$body-background:  #ffffff !default;
$text-color:       #555555 !default;

$main-color:       #3498db !default;
$success-color:    #1bbc9b !default;
$error-color:      #e74c3c !default;
$warning-color:    #f1c000 !default;
$light-color:      #ecf0f1 !default;
$dark-color:       #252428 !default;
$main-light-color: #72a8d6 !default;
$main-grey-color:  #7f8184 !default;

$color-diff:       #151515 !default;

// Defaults
$font-family:     "Open Sans", "Helvetica Neue", Helvetica, Arial,
                  "Apple SD Gothic Neo", "Noto Sans Korean", "본고딕",
                  NanumBarunGothic, Nanum Gothic, "KoPubDotum Medium",
                  "Malgun Gothic", Dotum, sans-serif !default;
$font-size:       16px !default;
$font-weight:     normal !default;
$line-height:     1.5em !default;
$bold:            700 !default;
$transition-time: 0.25s !default;

// Code
$code-font-family: NanumGothicCoding, "Deja-vu Sans Mono", Monaco, Menlo,
                   Consolas, "Courier New", monospace !default;
$code-font-size:   13px !default;
$code-color:       #333333;
$code-bg:          #f7f7f9;
$code-border:      #e1e1e8;

// Tables
$table-border-color:     $gray2 !default;
$table-background:       $gray1 !default;
$table-background-hover: lighten($main-color, 10) !default;
$table-color-hover:      #ffffff !default;

// Forms
// Fancy checkboxes
$checkbox-height:     22px !default;
$checkbox-width:      38px !default;
$checkbox-bg:         #c3c5c4 !default;
$checkbox-checked-bg: $success-color !default;

// Fancy radio buttons
$radio-size:          20px !default;
$radio-circle-size:   10px !default;
$radio-border-color:  #c3c5c4 !default;
$radio-checked-bg:    $success-color !default;

// Grid
$grid-columns:       12 !default;
$grid-padding-width: 16px !default;
$grid-unit-width:    100% / $grid-columns !default;

// Breakpoints
$sm-breakpoint:      480px !default;
$md-breakpoint:      768px !default;
$lg-breakpoint:      970px !default;
$xl-breakpoint:      1200px !default;

$container-width-md: 720px !default;
$container-width-lg: 940px !default;
$container-width-xl: 1150px !default;

// Helpers
$border-radius:     3px !default;
$big-border-radius: 1000px !default;

// Custom colors
$black: #000000 !default;
$white: #ffffff !default;

// From base16-solarized
$code-base00: #002b36;
$code-base01: #073642;
$code-base02: #586e75;
$code-base03: #657b83;
$code-base04: #839496;
$code-base05: #93a1a1;
$code-base06: #eee8d5;
$code-base07: #fdf6e3;
$code-base08: #dc322f;
$code-base09: #cb4b16;
$code-base0A: #b58900;
$code-base0B: #859900;
$code-base0C: #2aa198;
$code-base0D: #268bd2;
$code-base0E: #6c71c4;
$code-base0F: #d33682;
